<div class="container">
  <mat-card class="card mr-16 current-users">
    <mat-card-title class="pt-16">Current Users:</mat-card-title>
    <mat-card-content class="mt-32 green">12</mat-card-content>
  </mat-card>
  <div class="row-container mt-32">
  <mat-card class="card mr-16">
    <mat-card-title>Expenses</mat-card-title>
    <mat-card-content class="mt-32">- $900000.00</mat-card-content>
  </mat-card>

  <mat-card class="card mr-16">
    <mat-card-title >Profit</mat-card-title>
    <mat-card-content class="mt-32 green">+ $1200000.00</mat-card-content>
  </mat-card>

  <mat-card class="card mr-16">
    <mat-card-title>Sold Contracts</mat-card-title>
    <mat-card-content class="mt-32 green">78</mat-card-content>
  </mat-card>
</div>
<div class="charts-container mt-32">
    <mat-card class="chart mr-16">
        <canvas baseChart
  [type]="'pie'"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend">
</canvas>
      </mat-card>

      <mat-card class="news">
        <mat-card-title>News</mat-card-title>
        <mat-card-content>
          <div class="news-container">
            <mat-spinner [color]="color"
            [mode]="mode"
            [value]="value"> *ngIf="!loaded"></mat-spinner>
            <div *ngIf="loaded">
            <mat-card class="news-card"  *ngFor="let item of [].constructor(10); let i = index">
              <a *ngIf="loaded" target="_blank" href="{{ this.data[i].url }}">
                <div>
                <mat-card-title *ngIf="loaded" class="news-article-title"><img *ngIf="loaded" src="{{this.data[i].image}}">{{ this.data[i].headline }}</mat-card-title>
              </div>
              </a>
            </mat-card>
          </div>
          </div>
        </mat-card-content>
      </mat-card>
</div>
</div>
