<div class="container">

<mat-card class="card mr-16">
    <mat-card-title class="pt-16">Expenses</mat-card-title>
    <mat-card-content class="mt-32">- $90000.00</mat-card-content>
</mat-card>

<mat-card class="card mr-16">
    <mat-card-title class="pt-16">Profit</mat-card-title>
    <mat-card-content class="mt-32 green">+ $1200000.00</mat-card-content>
</mat-card>

<mat-card class="card mr-16">
    <mat-card-title class="pt-16">Sold Contracts</mat-card-title>
    <mat-card-content class="mt-32 white">78</mat-card-content>
</mat-card>

</div>